code {
  font-size: 14px;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height:1.6;
    font-size: 18px;
    color:#444;
    padding:0 10px;
}

div.highlighter-rouge {
    margin-left: 30px;
}

h3 {
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

h1, h2, h3 {
    line-height:1.2;
}
