<header role="banner" class="sticky-top container-fluid px-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-lg-none" href="#">{{ site.title }}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sitenav"
            aria-controls="sitenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="sitenav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 small mx-auto">
        <li class="nav-item {% if page.permalink == '/' %}active{% endif %}"><a class="nav-link" href="{{ '/' | relative_url }}"><span class="fa fa-home"></span> Inicio</a></li>
        <li class="nav-item {% if page.permalink == '/docentes/' %}active{% endif %}"><a class="nav-link" href="{{ '/docentes/' | relative_url }}"><span class="fa fa-chalkboard-teacher"></span> Docentes</a></li>
        <li class="nav-item {% if page.permalink == '/regimen/' %}active{% endif %}"><a class="nav-link" href="{{ '/regimen/' | relative_url }}"><span class="fa fa-tasks"></span> Régimen</a></li>
        <li class="nav-item {% if page.permalink == '/calendario/' %}active{% endif %}"><a class="nav-link" href="{{ '/calendario/' | relative_url }}"><span class="fa fa-calendar-alt"></span> Calendario</a></li>
        <li class="nav-item {% if page.permalink == '/tps/' %}active{% endif %}"><a class="nav-link" href="{{ '/tps/' | relative_url }}"><span class="fa fa-briefcase"></span> TPs</a></li>
        {% assign menu_material = "/bibliografia/, /material, /faq/" | split: ", " %}
        <li class="nav-item dropdown {% if page.permalink contains 'material' or menu_material contains page.permalink %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="matDropdown"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-paperclip"></span> Material</a>
          <ul class="dropdown-menu">
            <li class="{% if page.permalink == '/bibliografia/' %}active{% endif %}"><a class="dropdown-item" href="{{ '/bibliografia/' | relative_url }}"><span class="fa fa-book"></span> Bibliografía</a></li>
            <li class="{% if page.permalink == '/material/' %}active{% endif %}"><a class="dropdown-item" href="{{ '/material/' | relative_url }}"><span class="fa fa-book-reader"></span> Apuntes del curso</a></li>
            <li class="{% if page.permalink == '/material/guias/' %}active{% endif %}"><a class="dropdown-item" href="{{ '/material/guias/' | relative_url }}"><span class="fa fa-dumbbell"></span> Guías de ejercicios</a></li>
            <li>
              <a class="dropdown-item" href="{{site.data.sitios.drive}}" target="_blank"><span class="fab fa-google-drive"></span> Drive</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{site.data.sitios.youtube}}" target="_blank"><span class="fab fa-youtube"></span> Canal</a>
            </li>
            <li><a class="dropdown-item" href="{{ '/faq/' | relative_url }}"><span class="fas fa-question-circle"></span> FAQ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="aluDropdown"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user-friends"></span> Alumno</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.skel}}"><span class="fa fa-file-download"></span> Descargas</a></li>
            <li><a class="dropdown-item" href="{{site.entregas}}"><span class="fa fa-file-upload"></span> Entregas</a></li>
            <li><a class="dropdown-item" href="{{site.notas}}"><span class="fa fa-pencil-alt"></span> Notas</a></li>
          </ul>
        </li>
        <li class="nav-item {% if page.permalink == '/encuestas/' %}active{% endif %}"><a class="nav-link" href="{{ '/encuestas/' | relative_url }}"><span class="fa fa-poll"></span> Encuestas</a></li>
        <li class="nav-item {% if page.permalink == '/infraestructura/' %}active{% endif %}"><a class="nav-link" href="{{ '/infraestructura/' | relative_url }}"><span class="fa fa-network-wired"></span> Infraestructura</a></li>
        <li class="nav-item">
          <a href="{{site.github.repository_url}}/blob/master/{{page.path}}" class="nav-link" target="_blank"><span class="fab fa-github"></span> Editar en GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
