

<svg viewBox="0 0 16 16" width="16px" height="16px"></svg><header class="site-header" role="banner">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand hidden-lg hidden-md">{{ site.title }}</span>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
            <li><a href="{{ '/regimen/' | relative_url }}">Régimen</a></li>
            <li><a href="{{ '/bibliografia/' | relative_url }}">Bibliografía</a></li>
            <li><a href="{{ '/material/' | relative_url }}">Material</a></li>
            <li><a href="{{ '/tps/' | relative_url }}">TPs</a></li>
            <li><a href="{{ '/calendario/' | relative_url }}">Calendario</a></li>
            <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
            <li><a href="{{ '/docentes/' | relative_url }}">Docentes</a></li>
            <li><a href="{{ '/encuestas/' | relative_url }}">Encuestas</a></li>
            <li><a href="{{ '/infraestructura/' | relative_url }}">Infraestructura</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Alumno
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{site.entregas}}">Entregas</a></li>
                <li><a href="{{site.notas}}">Notas</a></li>
                <li><a href="{{site.skel}}">Descargas</a></li>
                <li><a href="{{ '/challenges/' | relative_url }}">Challenges</a></li>
              </ul>
            </li>
            <li>
              <a href="{{site.github.repository_url}}/blob/master/{{page.path}}" class="header-icon" target="_blank"><span><i class="fa fa-fw fa-github"></i></span> Editar en GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</header>
<script>$(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" })</script> 

