@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 768px;
    max-width: 100%;
  }
}

.collapse.navbar-collapse[aria-expanded="false"] {
  padding-left: 0px;
  padding-right: 0px;
}

.page-content p {
  font-size: 16px;
  text-align: justify;
}

.page-content li {
  font-size: 16px;
  text-align: justify;
}

.post-excerpt {
  display: inline;
}

a.post-link:hover,
a.post-link:focus {
  display: inline-block;
}

pre code {
  white-space: pre;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.navbar {
  margin-bottom: 0!important;
}

@media (max-width: 450px) {
  .hidden-xxs {
    display: none !important;
  }
}
